.Nav__Link {
    width: 124px;
    padding: 16px;
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-text-colour);
    line-height: 100%;

    transition: background-color 200ms ease-out;
}

.Nav__Link__Selected {
    background-color: var(--hover-accent-colour);
    color: var(--main-action-colour);
    font-weight: 600;

    transition: background-color 200ms ease-out;
}