.Nav__Main {
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nav__Links {
    padding: 8px;
    background-color: var(--main-accent-colour);
    border-radius: 48px;
    display: flex;
}