@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=EB+Garamond:wght@500&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Bricolage Grotesque', sans-serif;
  min-height: -webkit-fill-available;
  box-sizing: border-box;
  background-color: var(--main-bg-colour);
  transition: background-color ease-out 300ms;
}

h1,
h2,
h3 {
  font-family: 'obviously', 'san-serif';
}

a,
input,
button,
nav,
ul,
li,
p,
h4 {
  appearance: none;
  text-decoration: none;
  font-family: 'Bricolage Grotesque', sans-serif;
  background: none;
  margin: 0;
}

/* Colour Variables */

:root.dark {
  --main-bg-colour: #1D1E1F;
  --main-text-colour: #FFF;
  --secondary-text-colour: rgba(194, 210, 255, 0.6);
  --main-gradient-fill: linear-gradient(164deg, rgba(135, 167, 255, 0.06) 5%, rgba(135, 167, 255, 0.012) 90%);
  --hover-gradient-fill: linear-gradient(164deg, rgba(135, 167, 255, 0.12) 5%, rgba(135, 167, 255, 0.04) 90%);
  --main-action-colour: rgba(135, 167, 255, 1);
  --main-accent-colour: rgba(135, 167, 255, 0.04);
  --main-accent-colour-solid: rgb(31, 33, 38);
  --hover-accent-colour: rgba(135, 167, 255, 0.08);
  --main-tag-colour: #FFF;
  --green-accent: #00B87D;
  --orange-accent: #F28100;
  --purple-accent: #ac50f3;
}

:root.light {
  --main-bg-colour: #F2F6FA;
  --main-text-colour: #1D1E1F;
  --secondary-text-colour: rgba(0, 14, 51, 0.6);
  --main-gradient-fill: linear-gradient(164deg, rgba(20, 71, 204, 0.06) 5%, rgba(20, 71, 204, 0.012) 90%);
  --hover-gradient-fill: linear-gradient(164deg, rgba(20, 71, 204, 0.12) 5%, rgba(20, 71, 204, 0.04) 90%);
  --main-action-colour: rgba(20, 71, 204, 1);
  --main-accent-colour: rgba(20, 71, 204, 0.04);
  --main-accent-colour-solid: rgb(235, 238, 249);
  --hover-accent-colour: rgba(20, 71, 204, 0.08);
  --main-tag-colour: rgba(20, 71, 204, 1);
  --green-accent: #33D6A3;
  --orange-accent: #FFA53D;
  --purple-accent: #BC67FF;
}

h1,
h2,
h3,
h4,
p {
  color: var(--main-text-colour);
  margin: 0;

  transition: color ease-out 300ms;
}

h2 {
  font-size: var(--xl-font-size);
  line-height: 100%;
  font-weight: 700;
}

h3 {
  font-size: var(--large-font-size);
  line-height: 100%;
  font-weight: 700;
}

h4 {
  font-size: var(--small-font-size);
  font-weight: 600;
}

p {
  font-size: var(--medium-font-size);
  font-weight: 400;
  line-height: 160%;
}

button {
  cursor: pointer;
}

textarea {
  min-height: 200px;
}

input,
textarea {
  display: flex;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--main-accent-colour);
  color: var(--main-text-colour);
  font-size: var(--small-font-size);
  font-weight: 400;
  line-height: 140%;
  appearance: none;
  border: none;
  width: unset;
  resize: none;

  transition: color ease-out 300ms;
}

input::placeholder,
textarea::placeholder {
  color: var(--main-text-colour);
  opacity: 0.4;
 
  transition: 200ms ease-out;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: var(--main-text-colour);
  opacity: 0.6;

  transition: 200ms ease-out;
}


/* Dynamic Sizing */

@media screen {

  :root {
    --header-font-size: 64px;
    --xl-font-size: 32px;
    --large-font-size: 24px;
    --medium-font-size: 20px;
    --small-font-size: 16px;
    --xs-font-size: 14px;

    --content-max-width: 1216px;
    --content-padding: 148px;
    --header-padding: 320px 148px 280px 148px;
  }

}

@media (width < 1358px) {

  :root {
    --header-font-size: 48px;
    --xl-font-size: 24px;
    --medium-font-size: 16px;

    --content-padding: 104px;
    --header-padding: 240px 104px 216px 104px;
  }

}

@media (width < 1132px) {

  :root {
    --content-padding: 64px;
    --header-padding: 240px 64px 216px 64px;
  }

}

@media (width < 988px) {

  :root {
    --header-font-size: 44px;

    --header-padding: 164px 64px 148px 64px;
  }

  textarea {
    min-height: 120px;
  }

}

@media (width < 704px) {

  :root {
    --header-font-size: 36px;
    --large-font-size: 20px;
    --small-font-size: 14px;
    --xs-font-size: 12px;

    --content-padding: 32px;
    --header-padding: 148px 32px;
  }

}

@media (width < 516px) {

  :root {
    --header-font-size: 7vw;
    --xl-font-size: 20px;
    --small-font-size: 12px;

    --content-padding: 32px 16px;
    --header-padding: 148px 16px;
  }

}